@import '~bulma/bulma';

.color{
    .red{
        color: red;
    }
}

@media screen and (min-width: 1024px){
    .navbar-burger {
        display: block;
    }
}

nav.navbar {
    border-bottom: .4px solid #eee;
    padding: 2px;

    .nav-center{
        margin: auto 140px;
        padding: 0 !important;

        a.navbar-item {
            border-bottom: 2px solid;
            position: absolute;
            bottom: 0;
            font-weight: 600;
            color: #000;
            font-size: medium;
            top: 0;
        }
    }

    .navbar-settings {
        width: 9%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;

        .add-new-task{
            height: 30px;
            width: 30px;
            background-color: yellow;
            border-radius: 100%;
            color: #000;
            text-align: center;
            font-weight: 800;
        }

        .user-action-area{
            height: 30px;
            width: 30px;
            background-color: red;
            border-radius: 100%;
            position: relative;
            // cursor: pointer;
            ul{
                position: absolute;
                top: 120%;
                right: 0;
                background-color: #fff;
                box-shadow: 0px 0px 1.5px 1px rgba(0, 0, 0, 0.12);
                border-radius: 3px;
                padding: 10px;
                font-size: small;
                width: 100px;
                min-height: 100px;

                li{ 
                    width: 100%;
                    a{
                        width: 100%;
                        text-align: center;
                        display: block;
                        color: #000;

                        &:not(last-child){
                            margin-bottom: 10px;
                        }

                        &:hover{
                            color: #8A2BE2;
                        }
                    }
                }
            }
        }
    }
}

.sidebar{
    border-right: .4px solid #eee;
    height: 100vh;
    padding: 2rem;

    .item-between{
        display: flex;
        justify-content: space-between;
    }
}

.side-menu{
    li {
        margin-bottom: 5px;
        a{
            display: block;
            padding: 5px 15px;
            width: 100%;
            color: #000 !important;
            border-radius: 2px;
            font-size: 14px;
            transition: all 200ms;

            &:hover{
                background-color: #F5F2F2;
            }
        }
    }
}

.column.is-one-fifth.left.sidebar {
    border-left: .4px solid #eee;
}

.card{
    padding: 10px;
    border-radius: 3px;
    transition: all 500ms;

    h2{
        margin-bottom: 20px;
        color: #fff;
    }

    span{
        color: #fff;
    }

    &:hover{
        box-shadow: none;
    }
}

.text-grey{
    color: #ddd;
}

.bg-todo{
    background-color: blueviolet;
}

.bg-upcoming{
    background-color: burlywood;
}

.bg-past{
    background-color: orangered;
}

.auth-page{
    margin: auto 150px;
}

.input{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgb(173, 173, 173);
    border-top: 0;
    box-shadow: none;
    outline: none !important;
    padding: 0;
    font-size: medium;
    font-weight: 600;

    &:active, &:focus{
        outline: none !important;
        outline: none !important;
        outline-color: unset !important;
        border-bottom-color: #bebebe !important;
        box-shadow: none !important;
    }
}

.modal{
    margin: 0 auto;

    .box{
        a{
            display: block;
            width: 100%;
            float: right;
            text-align: right;
        }
    }

    li.columns{
        border: 1px solid #dcdada;
        padding: 0;
        margin: 0;
        background-color: #f3f3f3;
        margin-top: 10px;
    }
}

.create-tasks{
    margin-top: 30px;
}